*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 25px 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #23252C;
}

.main-container {
  background-color: #1A1B21;
  width: 317px;
  margin: 0 auto;
  border-radius: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-image {
  height: 317px;
  width: 317px;
  object-fit: cover;
  border-radius: 10px;
}

.info-container>h2,
.info-container>h3,
.info-container>a {
  line-height: normal;
  font-style: normal;
}

.info-container>h2 {
  color: #FFF;
  font-size: 1.5625rem;
  font-weight: 700;
  margin: .75em 0 0 0;
}

.info-container>h3 {
  color: #F3BF99;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: normal;
  margin-top: .2em;
}

.info-container>a {
  color: #F5F5F5;
  font-size: 0.625rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: .5em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.0625em;
  margin: 0.9375em 0;
}

.email-link,
.linkedin-link {
  display: flex;
  width: 115px;
  padding: 0.5625em 0.8125em 0.5625em 0.8125em;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  gap: .3em;
}

.email-link {
  border: 1px solid var(--gray-300, #D1D5DB);
  background-color: var(--white, #FFF);
  color: var(--gray-700, #374151);
}

.linkedin-link {
  background-color: #5093E2;
  color: #FFF;
}

.linkedin-logo {
  width: 16px;
  height: 16px;
}

.about-container {
  /* height: 399px; */
  /* background-color: yellow; */
  background-color: #1A1B21;
  padding: 1em 2.25em 1em 2.25em;
}

.about-container h2,
.about-container p {
  line-height: 150%;
  font-style: normal;
}

.about-container h2 {
  color: #F5F5F5;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.about-container p {
  color: #DCDCDC;
  font-size: 0.625rem;
  font-weight: 400;

}

.footer-container {
  border-radius: 0px 0px 10px 10px;
  background: #161619;
  /* display: inline-block; */
  width: 100%;
  height: 60px;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  height: 25px;
  width: 25px;
}
}